<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EnterpriseManager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.Enterprise.web.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StaffRegisterServlet</servlet-name>
    <servlet-class>com.Enterprise.web.StaffRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffRegisterServlet</servlet-name>
    <url-pattern>/staffRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.Enterprise.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StaffLoginServlet</servlet-name>
    <servlet-class>com.Enterprise.web.StaffLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffLoginServlet</servlet-name>
    <url-pattern>/StaffLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductsListServlet</servlet-name>
    <servlet-class>com.Enterprise.web.ProductsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductsListServlet</servlet-name>
    <url-pattern>/productsList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductSaveServlet</servlet-name>
    <servlet-class>com.Enterprise.web.ProductSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSaveServlet</servlet-name>
    <url-pattern>/productSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerListServlet</servlet-name>
    <servlet-class>com.Enterprise.web.CustomerListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerListServlet</servlet-name>
    <url-pattern>/customerList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StaffListServlet</servlet-name>
    <servlet-class>com.Enterprise.web.StaffListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffListServlet</servlet-name>
    <url-pattern>/staffList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffSaveServlet</display-name>
    <servlet-name>StaffSaveServlet</servlet-name>
    <servlet-class>com.Enterprise.web.StaffSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffSaveServlet</servlet-name>
    <url-pattern>/staffSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecoredListServlet</display-name>
    <servlet-name>RecoredListServlet</servlet-name>
    <servlet-class>com.Enterprise.web.RecoredListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecoredListServlet</servlet-name>
    <url-pattern>/recoredList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecoredSaveServlet</display-name>
    <servlet-name>RecoredSaveServlet</servlet-name>
    <servlet-class>com.Enterprise.web.RecoredSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecoredSaveServlet</servlet-name>
    <url-pattern>/RecoredSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecoredDeleteServlet</servlet-name>
    <servlet-class>com.Enterprise.web.RecoredDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecoredDeleteServlet</servlet-name>
    <url-pattern>/recoredDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerDeleteServlet</servlet-name>
    <servlet-class>com.Enterprise.web.CustomerDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDeleteServlet</servlet-name>
    <url-pattern>/customerDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StaffDeleteServlet</servlet-name>
    <servlet-class>com.Enterprise.web.StaffDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffDeleteServlet</servlet-name>
    <url-pattern>/staffDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductDeleteServlet</servlet-name>
    <servlet-class>com.Enterprise.web.ProductDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDeleteServlet</servlet-name>
    <url-pattern>/productDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BuyProductServlet</servlet-name>
    <servlet-class>com.Enterprise.web.BuyProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyProductServlet</servlet-name>
    <url-pattern>/buyProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StaffWorkRServelt</servlet-name>
    <servlet-class>com.Enterprise.web.StaffWorkRServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffWorkRServelt</servlet-name>
    <url-pattern>/staffWorkRList</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginOutServlet</servlet-name>
    <servlet-class>com.Enterprise.web.loginOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginOutServlet</servlet-name>
    <url-pattern>/loginOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerModifyServlet</servlet-name>
    <servlet-class>com.Enterprise.web.CustomerModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerModifyServlet</servlet-name>
    <url-pattern>/customerModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StaffWorkingServlet</servlet-name>
    <servlet-class>com.Enterprise.web.StaffWorkingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffWorkingServlet</servlet-name>
    <url-pattern>/staffWorking</url-pattern>
  </servlet-mapping>
</web-app>